<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :team_lead, style: "display: block" %>
    <%= form.select :team_lead, Employee.all.collect{ |employee| ["#{employee.name}",employee.name] }, prompt: 'Choose one...' %>
  </div>

 <div>
   <%= form.label :division_id %>
   <%= form.select :division_id, Division.all.collect{ |division| [" #{division.name}",division.id] }, prompt: 'Choose one...' %>
 </div>

 <%= form_with model: @team do|form|%>  
  Targets:
  <ul>
    <%= form.fields_for :target do |target_form| %>
      <li>
        <%= target_form.label :title, style: "display: block" %>
        <%= target_form.text_field :title %>
        <%= target_form.label :description, style: "display: block" %>
        <%= target_form.text_area :description %>
        <%= target_form.label :start_date, style: "display: block" %>
        <%= target_form.date_field :start_date %>
        <%= target_form.label :finish_date, style: "display: block" %>
        <%= target_form.date_field :finish_date %>
        <%= target_form.label :status, style: "display: block" %>
        <%= target_form.text_field :status %>
      </li>
      <div>
       <%= target_form.submit %>
     </div>
    <%end%>
  </ul>
 <%end%>
<% end %>
