<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div class="newbtn">
<%= link_to "New team", new_team_path %>
</div>

<div id="teams">
<table class="table">
<thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Members</th>
    <th>Leader</th>
    <th>Action</th>
  </tr>
<tbody>

  <% @teams.each do |team| %>
  <tr>
    <td><%= team.id%></td>
    <td><%= team.name%></td>
    <td><%= team.description%></td>
    <% if team.employee.count > 0 %>
     <td>
        <% team.employee.each do |employee| %>
              <%= employee.name  %><span>, </span>
        <% end %> 
      </td>
    <%end%> 
    <% if team.team_lead.present? %>
      <td><%= team.team_lead%></td>
    <%end%>  
    <td class="actions">
      <%= link_to "Edit", edit_team_path(team) %> 
      <%= button_to "Delete", team, method: :delete %>
    </td>
  </tr>
  <% end %>
    </thead>
  </table>
</div>


<br>
<%= link_to "Back to home", "/" %>