<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t 'Name', default: 'not exist'  %></strong>
    <%= employee.name %>
  </p>
  <p>
    <strong><%= t 'Email', default: 'not exist'  %></strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t 'Job', default: 'not exist'  %></strong>
    <%= employee.job %>
  </p>

  <p>
    <strong><%= t 'Salary', default: 'not exist'  %></strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong><%= t 'Job status', default: 'not exist'  %></strong>
    <%= employee.employment_status %>
  </p>

  <p>
  <% if employee.team.present? %>
      <strong><%= t 'Team', default: 'not exist'  %></strong>
      <%= employee.team.name %>
    <% end %>
  </p>

  <p>
  <% if employee.division.present? %>
      <strong><%= t 'Division', default: 'not exist'  %></strong>
      <%= employee.division.name %>
    <% end %>
  </p>

</div>
