<div id="<%= dom_id user %>">

<% if user.pic.present? %> 
  <%= image_tag user.pic , size:"300x200"%>
<%end%>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

</div>
