<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div class="newbtn">
<%= link_to "New user", new_user_path %>
</div>

<br>
<br>
<div id="users">
<table class="table">
<thead>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Sign in count</th>
    <th>Current sign in</th>
    <th>Last sign in</th>
    <th>Action</th>
  </tr>
<tbody>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.id%></td>
    <td><%= user.email%></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.last_sign_in_at %></td>
    <td class="actions">
      <%= link_to "Edit", edit_user_path(user) %> 
      <%= button_to "Delete", user, method: :delete %>
    </td>
  </tr>
  <% end %>
    </thead>
  </table>
</div>


<br>
<%= link_to "Back to home", "/" %>