<%= form_with(model: division) do |form| %>
  <% if division.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
        <% division.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :manager, style: "display: block" %>
    <%= form.select :employee_id, Employee.all.collect{ |employee| [" #{employee.name}",employee.id] }, prompt: "Choose one.." %>
  </div>

<%= form_with model: @division do|form|%>  
  Teams:
  <ul>
    <%= form.fields_for :team do |team_form| %>
      <li>
        <%= team_form.label :name, style: "display: block" %>
        <%= team_form.text_field :name %>
        <%= team_form.label :description, style: "display: block" %>
        <%= team_form.text_area :description %>
        <%= team_form.label :team_lead, style: "display: block" %>
        <%= team_form.select :team_lead, Employee.all.collect{ |employee| ["#{employee.name}",employee.name] }, prompt: 'Choose one...' %>
        </li>
      <div>
       <%= team_form.submit %>
     </div>
    <%end%>
  </ul>
 <%end%>

 


<% end %>
