<h1>HR Adminstration System</h1>
<a href="employees">Employees  </a>
<%= @employees %><br/>
<a href="divisions">Divisions  </a>
<%= @divisions %><br/>
<a href="teams">Teams  </a>
<%= @teams %><br/>
<a href="targets">Targets  </a>
<%= @targets %><br/>
<a href="users">Users  </a>
<%= @users %><br/>

