<h1>HR Adminstration System</h1>

<ul>
    <li> Sign in </li>
    <li> Sign out </li>
    <li><%= link_to  "Sign up", new_user_registration_path %></li>
</ul>


<a href="employees">Employees  </a>
<%= @employees %><br/>
<a href="divisions">Divisions  </a>
<%= @divisions %><br/>
<a href="teams">Teams  </a>
<%= @teams %><br/>
<a href="targets">Targets  </a>
<%= @targets %><br/>
<a href="users">Users  </a>
<%= @users %><br/>

