<div class="sidenav">
    <%= link_to "Employees", employees_path%>
    <%= link_to "Divisions", divisions_path%>
    <%= link_to "Teams", teams_path%>
    <%= link_to "Targets", targets_path%>
    <%= link_to "Users", users_path%>
</div>